@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
*::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
}


html {
    scroll-behavior: smooth;
    background-color: #eff6ff;
}

.dark {
    background-color: #18181b;
}