@tailwind base;
@tailwind components;
@tailwind utilities;

/* This applies to the entire webpage */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}



html {
    scroll-behavior: smooth;
    background-color: #eff6ff;
}

.dark {
    background-color: #18181b;
}